* {
    direction: rtl !important;
}


/* ## General */
i.fa-angle-right {
    transform: rotate(180deg);
}

/* ## Header Top*/
header .header-top .search .search-icon {
    float: left;
    left: 2em;
    right: auto;
}

header .header-top .header_top_right {
    float: left;
}

header .header-top .header_top_right .item:first-child .icon {
    transform: rotate(270deg);
}

header .header-top .header_top_right .item:last-child {
    margin: 0 5em 0 0em;
}

header .header-top .header_top_right .item>span {
    transform: scaleX(-1);
}

/* ## Header Middle*/

.department_nav .menu_banner span.icon {
    right: -5em;
    left: auto;
}

.department_nav .sub_menu_main>ul.menu>li>.caret_symbol {
    float: left;
}

.department_nav .sub_menu_main>ul>li>ul.dropdown-child {
    right: 12.5em;
    left: auto;
}

.navigation_bar .dropdown-child {
    z-index: 8;
    right: 0;
    left: auto;
}

.navigation_bar ul.menu>li {
    float: right;
}

.navigation_bar .dropdown-child li .dropdown-grandchild {
    right: 17em;
    left: auto;
}

.navigation_bar .dropdown-child li,
.navigation_bar .dropdown-child li .dropdown-grandchild,
.department_nav .sub_menu_main>ul.menu>li a,
.department_nav .sub_menu_main>ul.menu>li>ul>li>a {
    text-align: right;
}

.site_options {
    float: left;
}

.site_options ul>li>ul {
    z-index: 7;
    position: relative;
}

.user_wishlist .wishlist_count {
    right: -1.4em;
}

.shopping_cart .cart_items_count {
    right: -1.4em;
}

.shopping_cart .totalprice {
    margin-left: 0em;
}

.h_mobile .left_side {
    float: right;
}

.h_mobile .left_right {
    float: left;
}

header.h_mobile .mobile_menu_icon {
    float: right;
}

header.h_mobile .logo-mobile {
    float: right;
    padding: 0.6em 1em;
}

.h_mobile #search_btn,
.h_mobile .cutomer_btn span,
.h_mobile .cart_mobile span.icon {
    float: left;
}

.h_mobile #search_btn,
.h_mobile .cutomer_btn,
.h_mobile .cart_mobile {
    float: left;
}

.h_mobile .cart_mobile span.prod_count span {
    right: 1.2em;
}

header.h_mobile .mobile_slide_menu .sw_lang {
    float: left;
}

header.h_mobile .mobile_slide_menu .user_wishlist {
    float: left;
}

header.h_mobile .user_wishlist .wishlist_count {
    top: -1.3em;
    right: -0.6em;
}

header.h_mobile .mobile_slide_menu .content {
    right: -50em;
}

.navbar_mobile ul.menu>li {
    text-align: right;
}

header.h_mobile .mobile_slide_menu .overlay {
    right: 0;
}

.navbar_mobile ul.menu>li>span.caret_symbol {
    float: left;
}

.navbar_mobile .dropdown-child {
    right: 0;
}

.navbar_mobile ul.menu>li>ul>li>span.gofwd {
    float: left;
}

.navbar_mobile .dropdown-child li {
    text-align: right;
}

.navbar_mobile .dropdown-child li .dropdown-grandchild {
    right: 0;
}

.caret_symbol.goback i {
    transform: scaleX(-1);
}

.h_mobile .searchbox {
    z-index: 1;
}

.h_mobile .searchbox .search-icon {
    left: 15px;
    right: auto;
}

.wishlist_popup .content .cls_btn {
    float: left;
}

.wishlist_popup .content {
    left: -50em;
    right: auto;
}

.wishlist_popup .overlay {
    right: 0;
    left: auto;
}

/* ## Home Banner ( Hero Area ) */
.home_heroarea .banner img {
    transform: scaleX(-1);
    margin-right: 0em;
}