<div class="col dept_col">
  {% if section.settings.department_menu %}
    {% render 'department-nav' %}
  {% endif %}
</div>
<div class="col nav_menu">
  <div class="navigation_bar">
    {% render 'navigation_bar' %}
  </div>
</div>
<div class="col">
  <div class="site_options">
    {% render 'site_options' %}
  </div>
</div>
