<div class="header_top_right">
  <div class="item">
    <a href="tel:920013450">
      <span class="icon">
        <i class="fa-light fa-phone"></i>
      </span>
      <p>
        920013450
        <span> 24/7 Support </span>
      </p>
    </a>
  </div>
  <div class="item">
    <span class="icon">
      <i class="fa-light fa-truck-fast"></i>
    </span>
    <p>
      Free Shipping
      <span>On orders for overs $40</span>
    </p>
  </div>
</div>
