<header class="h_mobile">
  <div class="left_side">
    <span class="mobile_menu_icon">
      <i class="fa-solid fa-bars"></i>
    </span>
    {% render 'mobile-slide-menu' %}
    {% render 'site-logo' %}
  </div>
  <div class="right_side">
    <div class="cart_mobile">
      <a href="/cart">
        <span class="icon">
          <i class="fa-light fa-bag-shopping"></i>
        </span>
        <span class="prod_count">
          <span>0</span>
        </span>
      </a>
    </div>

    <div class="cutomer_btn">
      <a href="/account">
        <span>
          <i class="fa-light fa-user"></i>
        </span>
      </a>
    </div>

    <div id="search_btn">
      <span><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
  </div>
  {% render 'search_mobile' %}
</header>
