<header class="h_desktop">
  <div class="header-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col logo">
          {% render 'site-logo' %}
        </div>
        <div class="col">
          {% render 'header-search' %}
        </div>
        <div class="col">
          {% render 'header-top-right' %}
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container-fluid">
      <div class="row">
        {% render 'header-middle' %}
      </div>
    </div>
  </div>
</header>
