<div class="searchbox" style="display:none">
  <form id="search" class="navbar-form search" action="/search" method="get">
    <input type="hidden" name="type" value="product">
    <input type="hidden" name="options[prefix]" value="last">
    <input
      id="bc-product-search"
      type="text"
      name="q"
      class="form-control bc-product-search"
      placeholder="{{ 'general.text.search_placeholder' | t }}"
      autocomplete="off"
    >

    <button type="submit" class="search-icon">
      <span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </button>
  </form>
</div>
