<div class="wishlist_popup">
  <div class="overlay hide"></div>
  <div class="content hide">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="wrapper">
            <h2 class="title">{{ 'general.text.mywishlist' | t }}</h2>
            <span class="cls_btn cls_wishlist">
              <i class="fa-solid fa-x"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <a class="wishlist_url" href="/pages/wishlist">{{ 'general.link.wishlistpagetitle' | t }}</a>
      </div>
    </div>
  </div>
</div>
